.login-page {
    display: grid;
    padding: 1em;
    justify-content: center;
    align-items: center;
}

.login-button {
    font-size: 1.5rem;
    padding: 0.75em 2em;
    color: white;
    background: #3B5998;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
}