.user-properties {
    display: grid;
    grid-template: auto / min-content 1fr;
    grid-gap: 0.5em 1em;
    margin: 0;
}

.user-properties dt {
    font-weight: bold;
}
.user-properties dd {
    margin: 0;
}

.user-page {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 1em;
}

.user-page select {
    padding: 0.5em;
    font-size: 1.2rem;
    border-radius: 3px;
    border: 1px solid rgba(51,51,51, 0.25);
    max-width: 500px;
}

.button-logout {
  color: white;
  background: none;
  border: none;
  border-radius: 3px;
  background: #00A7F9;
  padding: 0.5em 1em;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
}