# Azure Developer CLI
.azure/*
!.azure/.gitignore
!.azure/config.json

# Node.js dependencies
node_modules/
build/


# Environment Vars and Secrets
*.env
*.env*.local
!.devcontainer/devcontainer.env

# Logs
*.log

.azure
