.users {
  border: 1px solid rgba(51,51,51, 0.25);
  background: white;
  border-radius: 3px;
}

.users a:link,
.users a:visited {
  color: inherit;
  text-decoration: none;
}

.user {
  white-space: nowrap;
  padding: 1em;
  display: grid;
  grid-template-columns: min-content min-content min-content 1fr;
  grid-gap: 1em;
}

.user:hover {
  background-color: rgba(0,0,0,0.1);
}

.user > * {
  word-wrap: break-word;
  overflow: hidden;
  max-width: 28ch;
  text-overflow: ellipsis;
}

.user:not(:last-of-type) {
  border-bottom: 1px solid rgba(51,51,51, 0.25);
}

.user .icon-person {
  line-height: 0;
  vertical-align: middle;
}