.game {
    background: rgba(51, 51, 51, 1);
    display: grid;
    grid-template: min-content 1fr min-content / auto;
    grid-gap: 2em;
    padding: 2em;
    width: 100%;
    color: white;
}

@media (max-width: 450px) {
    .game {
        grid-gap: 1em;
        padding: 1em;
    }
}

@media (max-height: 440px) {
    .game {
        grid-gap: 1em;
        padding: 1em;
    }
}

.game__header {
    display: grid;
    grid-template: auto / 1fr min-content;
    font-size: 2.5rem;
}

@media (max-width: 450px) {
    .game__header {
        font-size: 1.5rem;
    }
}

@media (max-height: 440px) {
    .game__header {
        font-size: 1.5rem;
    }
}

.game__footer {
    display: grid;
    grid-template: auto / repeat(auto-fit, minmax(1.5em, auto));
    line-height: 1.5;
    font-size: 2rem;
}

@media (max-width: 450px) {
    .game__footer {
        font-size: 1rem;
    }
}

@media (max-height: 450px) {
    .game__footer {
        font-size: 1rem;
    }
}

.game__table {
    position: relative;
}

.table {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: grid;
    grid-template: repeat(5, 1fr)/repeat(5, 1fr);
    grid-gap: 1px;
    color: rgba(51, 51, 51, 1);
}

.table--animation-linear-diagonal {
    animation: lineardiagonal 0.3s ease-in-out infinite;
}

@keyframes lineardiagonal {
    0% {
        transform: translate(-20px, -20px);
    }

    50% {
        transform: translate(20px, 20px);
    }

    100% {
        transform: translate(-20px, -20px);
    }
}

.table--animation-linear-horizontal {
    animation: linlear-horizontal 0.3s ease-in-out infinite;
}

@keyframes linlear-horizontal {
    0% {
        transform: translate(-20px, 0);
    }

    50% {
        transform: translate(20px, 0);
    }

    100% {
        transform: translate(-20px, 0);
    }
}

.table--animation-rotation {
    animation: rotation 0.3s ease-in-out infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(-10deg);
    }
}

.table__cell {
    border: 1px solid rgba(51, 51, 51, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    background: white;
    font-size: 4rem;
}

@media (max-width: 450px) {
    .table__cell {
        font-size: 2rem;
    }
}

@media (max-height: 450px) {
    .table__cell {
        font-size: 1.5rem;
    }
}

.cell--text-effect-shadow {
    color: rgba(228, 212, 212, 0.9);
    text-shadow: 0px 0px 0.2em rgba(0, 0, 0, 0.9);
}

.cell--color-red {
    background-color: red;
}

.cell--color-orange {
    background-color: orange;
}

.cell--color-yellow {
    background-color: yellow;
}

.cell--color-green {
    background-color: green;
}

.cell--color-blue {
    color: white;
    background-color: blue;
}

.cell--color-indigo {
    background-color: indigo;
    color: white;
}

.cell--color-violet {
    color: white;
    background-color: violet;
}

.game-symbol {
    color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    text-align: center;
}

.game-symbol--used {
    color: rgba(255, 255, 255, 0.2)
}

.game-symbol--current {
    color: rgba(255, 255, 255, 0.9);
    background: #00A7F9;
}

.button-close {
    color: white;
    background: none;
    border: none;
    border-radius: 4px;
}

.button-close--completed {
    background: #00A7F9;
}

.button-close .icon-close {
    cursor: pointer;
    font-size: 4rem;
    vertical-align: middle;
}

@media (max-width: 450px) {
    .button-close .icon-close {
        font-size: 2rem;
    }
}

@media (max-height: 450px) {
    .button-close .icon-close {
        font-size: 2rem;
    }
}