:root {
    --scoreLineColor: rgb(168, 168, 168)
}

.scoresHeader {
    text-align: center;
    padding: 1rem;
}

.scoresColumns {
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
    border: 1px solid var(--scoreLineColor);
}

.scoreColumn {
    min-width: 280px;
    border-right: 1px solid var(--scoreLineColor);
    overflow: hidden;
}

.scoreColumn__header {}

.score {
    margin-top: -1px;
    border-top: 1px solid var(--scoreLineColor);
    border-bottom: 1px solid var(--scoreLineColor);
    display: grid;
    grid-template: auto / max-content 1fr;
    grid-gap: 0.5rem;
    padding: 1rem;
}

.scoreName {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.scoreRefreshButton {
    text-align: center;
    padding: 1rem;
}

.scoreRefreshButton button {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(88, 216, 99);
    color: rgb(236, 236, 236);
}

.score-you {
    display: grid;
    grid-template-columns: min-content repeat(4, minmax(max-content, 1fr));
}

.scores-grid__container {
    grid-column: 2 / -1;
}

.score-column {}

.scores-grid {
    display: grid;
    grid-template-columns: min-content repeat(4, minmax(max-content, 1fr));
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    background: white;
}

.scores-grid>* {
    padding: 1em;
    border-top: 1px solid black;
    border-right: 1px solid black;
}

.scores-grid__table-types {
    text-align: center;
    grid-column: 2 / -1;
}

.scores-grid__score:hover {
    background: rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease-in-out;
}

.scores-page {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 1em;
}

.scores-page select {
    padding: 0.5em;
    font-size: 1.2rem;
    border-radius: 3px;
    border: 1px solid rgba(51, 51, 51, 0.25);
    max-width: 500px;
}

.score-refresh-button,
.scores-loadmore-button {
    color: white;
    background: none;
    border: none;
    border-radius: 3px;
    background: #00A7F9;
    padding: 0.5em 1em;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.scores-loadmore-button:disabled {
    background-color: #ccc;
    color: rgb(51, 51, 51)
}

.score-refresh-button i.material-icons,
.scores-loadmore-button i.material-icons {
    vertical-align: bottom;
}

.scores {
    border: 1px solid rgba(51, 51, 51, 0.25);
    background: white;
    border-radius: 3px;
}